:root {
    --color-primary: #232F23;
    --color-secondary: #007bff;
    --color-accent: #FF9900;
    --color-neutral: #FFFFFF;
    --color-background: #F8F9FA;
    --color-text-primary: #000000;
    --color-text-secondary: #4c4c4d;
    --color-footer-bg: #232F3E;
    --color-footer-text: #FFFFFF;
    --color-link-hover: #FF9900;
}

.home-background {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-background);
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    margin-top: 10px;
}

.card {
    margin-bottom: 20px;
}

/* Hero Section */

.banner-container {
    position: relative;
    height: 400px;
    padding: 4rem 0;
    background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 2rem;
    display: inline-block;
    color: #ffffff;
    text-align: center;
}

.banner-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: 0 auto;
}

.banner-title {
    position: relative;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.banner-subtitle {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.banner-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #ff9900;
    width: 120px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    color: #ffffff;
}

.banner-button:hover {
    background-color: #e68a00;
    transform: scale(1.05);
}

/* Category Section */

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    padding: 2rem 0;
}

.category-card {
    background-color: #ffffff;
    color: #333333;
    border-radius: 12px;
    padding: 2rem 1rem;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    background-color: #f0f8ff;
}

.icon-wrapper {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #4682B4;
    transition: color 0.3s;
}

.category-card:hover .icon-wrapper {
    color: #ff9900;
}

.category-name {
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.category-card:hover .category-name {
    color: #333333;
}

@media (max-width: 768px) {
    .category-grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .category-card {
        padding: 1.5rem 0.5rem;
    }

    .icon-wrapper {
        font-size: 2.5rem;
    }

    .category-name {
        font-size: 1rem;
    }
}

/* New Arrival Section */

.new-arrival-card {
    text-align: center;
    margin-bottom: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 150px;
}

.new-arrival-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.new-arrival-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.new-arrival-card h5 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
}

.new-arrival-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.new-arrival-card .btn {
    font-size: 0.9rem;
    width: 150px;
}

/* Navbar */

.navbar {
    box-shadow: 0 4px 2px -2px gray;
    border-bottom: 1px solid #ddd;
    background-color: var(--color-primary);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand,
.navbar .nav-link {
    color: var(--color-footer-text) !important;
}

.navbar .nav-link:hover {
    color: var(--color-accent) !important;
}

/* Footer */

.footer-section {
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding: 40px 0;
    margin-top: 50px;
}

.footer-section h5 {
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #007bff;
}

.footer-section hr {
    border-top: 1px solid #444;
}

.footer-section p {
    margin: 0;
    padding-top: 20px;
    font-size: 0.9rem;
}

.footer-section a {
    color: var(--color-footer-text) !important;
}

.footer-section a:hover {
    color: var(--color-accent) !important;
}


/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideIn 0.5s ease-out;
}

/* Other */


h2.section-title {
    color: var(--color-text-primary);
}

p {
    color: var(--color-text-secondary);
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
    text-decoration: underline;
}

.category-card h5,
.new-arrival-card h5 {
    color: var(--color-text-primary);
}

.new-arrival-card p {
    color: var(--color-text-secondary);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: var(--color-text-secondary)
}

button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #007bff;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button,
.btn {
    border-radius: 4px;
}

.btn-primary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-primary:hover {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

.btn-outline-secondary {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-outline-secondary:hover {
    background-color: var(--color-secondary);
    color: var(--color-neutral);
}